@font-face {
    font-family: "Cantarell";
    src: url("/static/fonts/Cantarell-VF.otf");
    font-weight: 1;
}

* {
    color: white;
}

body {
    background: url("/static/images/bg.jpg") no-repeat fixed;
    background-size: cover;
    font-family: "Cantarell";
    font-size: 32px;
}

h1 {
    font-size: 64px;
}

input {
    background: black;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    font-size: 22px;
    padding: 3px;
}

textarea {
    background: black;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    font-size: 22px;
    padding: 3px;
}

table, th, td {
    border: 1px solid white;
}

.main {
    padding: 50px;
    background-color: #000D;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.horizontal-layout {
    display: flex;
    justify-content: space-around;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    width: 40vw;
    margin-left: 30vw;
}
