 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
    </head>
    <body>
         <!-- 
         Надо будет сделать:
         1. Тайтлбар с логотипом и кнопкой выхода
         2. Список полей игровых, чтобы можно было добавлять новые и удалять
         3. Редактор полей игровых. Каждое поле можно открыть и там призы
         добавлять и игроков на поле
         4. Список призов и форма для добавления новых
         5. Редактор призов
         6. Вроде ещё чё-то???
         -->
         <div class="main">

         </div>
    </body>
</html> 
