 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
    </head>
    <body>
         <div class="main">
             <div class="horizontal-layout">
                 <div class="vertical-layout">
                     <h1>Логин</h1>
                     <form action="/login">
                         <div class="vertical-layout">
                             <label for="username">Имя пользователя:</label>
                             <input type="text" id="username" name="username"></input>
                             <label for="username">Пароль:</label>
                             <input type="password" id="password" name="password"></input>
                             <input type="submit" value="Логин">
                         </div>
                     </form>
                 </div>
                 <div class="vertical-layout">
                     <h1>Регистрация</h1>
                     <form action="/regiter">
                         <div class="vertical-layout">
                             <label for="username">Имя пользователя:</label>
                             <input type="text" id="username" name="username"></input>
                             <label for="password">Пароль:</label>
                             <input type="password" id="password" name="password"></input>
                             <label for="password_confirm">Подтверждение пароля:</label>
                             <input type="password" id="password_confirm" name="password_confirm"></input>
                             <div>
                                 <label for"admin">Создать аккаунт админа</label>
                                 <input type="checkbox" id="admin" name="admin"></input>
                             </div>
                             <input type="submit" value="Регистрация">
                         </div>
                     </form>
                 </div>
             </div>
         </div>
    </body>
</html> 
