 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SeaBattle</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
    </head>
    <body>
         <div class="titlebar">
             <a href="/"><image src="/static/images/logo_bright.png"/></a>
             <a href="/api/logout" class="lougout_link">Выход</a>
         </div>

        <div class="main">
         </div>
    </body>
</html> 
