<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>SeaBattle</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
        <link rel="stylesheet" href="/static/css/prizes.css">
    </head>
    <body>
        <div class="titlebar">
             <a href="/"><image src="/static/images/logo_bright.png"/></a>
             <a href="/api/logout" class="lougout_link">Выход</a>
        </div>
        <div class="main">
            <h1>Список выигранных призов</h1>
            {% if not prizes %}
                <h1>Тут пока нет никаких призов ¯\_(ツ)_/¯</h1>
            {% endif %}

            <div class="prizes-grid">
                {% for prize in prizes.values() %}
                <div class="prize-container">
                    <img src="{{ prize.image }}" alt="{{ prize.name }}"/>
                    <h3>{{ prize.name }}</h3>
                    <p>{{ prize.description }}</p>
                    {% if prize.amount > 1 %}
                        <div class="amount">X{{ prize.amount }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
