 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SeaBattle</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
        <link rel="stylesheet" href="/static/css/user.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
    </head>
    <body>
         <div hidden>
             <div class="board">
                 <h2 class="board_title">Board Name</h2>
                 <div class="grid"></div>
                 <p>Количество выстрелов:<span class="board_shots"></span></p>
             </div>
         </div>

         <div class="titlebar">
             <image src="/static/images/logo_bright.png"/>
             <div>
                 <a href="/prizes" class="prizes_link">Призы</a>
                 <a href="/api/logout" class="lougout_link">Выход</a>
             </div>
         </div>

         <div class="main">
             <h1>Игровые поля</h1>
             <div class="boards_list"></div>
         </div>
         <script src="/static/js/user.js"></script>
    </body>
</html> 
