 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/static/css/general.css">
        <link rel="stylesheet" href="/static/css/user.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
    </head>
    <body>
         <div hidden>
             <div class="board">
                 <h2 class="board_title">Board Name</h2>
                 <table>
                 </table>
                 <p class="board_shots">Количество выстрелов: N</p>
             </div>
         </div>

         <div class="titlebar">
             <a href="/prizes" class="prizes_link">Выигранные призы</a>
             <a href="/api/logout" class="lougout_link">Выход</a>
         </div>

         <div class="main">
             <h1>Title</h1>
         </div>
         <script src="/static/js/user.js"></script>
    </body>
</html> 
